<div class="row">
  <div class="col-12">
  <table class="table table-image">
    <tbody>
      <tr *ngFor="let music of musicList; let i = index" >
        <td class="w-25">
          <img src="../../assets/music.jpg" class="img-fluid img-thumbnail" alt="Music">
        </td>
        <td class="w-100">
          <h4>{{music.title}}</h4>
          <p *ngFor="let info of music.supplement_information">
            <i>{{info}}</i>
          </p>
          <p *ngFor="let desc of music.description">
              <span [innerHTML]="desc"></span>
          </p>
          <span class="cursor"><b>&#9654; Play Vocal</b></span> 
        </td>
      </tr>
    </tbody>
  </table>   
  </div>
  <!-- <div *ngIf="!musicList.length">No record found!</div> -->
</div>