<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <label for="search" class="sr-only">Search</label>
    <input type="text" placeholder="Enter the text to search" formControlName="searchText" class="form-control" required minlength="3">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="category" class="sr-only">Search in:</label>
      <select formControlName="category" class="form-control">
        <option *ngFor="let category of categories; let i = index" [ngValue]="category.id">{{category.text}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!searchForm.valid" class="btn btn-primary mb-2">Submit</button>
  </form>


<app-music-detail [musicList]="result"></app-music-detail>
