<div class="container">
    <div class="jumbotron">
      <h2>{{title}}</h2>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <app-search-with-keyword></app-search-with-keyword>
      </div>
    </div>
  </div>


