/* You can add global styles to this file, and also import other style files */
.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td {
    vertical-align: middle;
  }

  .cursor {
    cursor: pointer;
  }